* {
  margin: 0;
  background-color: black;
  padding: 0;
}
.zigi {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 50%;
  font-size: 26px;
}

.zigus {
  align-items: center;
  display: flex;
  justify-content: center;
}
p {
  font-size: 12px;
}
